<section>
  <div class="container">
    <div class="row mt-4">
      <a href="/admin/add-product" class="btn btn-success ml-auto">Add Product</a>
    </div>
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Descriptions</th>
          <th scope="col">Price</th>
          <th scope="col">Images</th>
          <th scope="col">Edit</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">1</th>
          <td>{{this.name}}</td>
          <td>{{this.catoegory}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td><img src="/product-images/{{this._id}}.jpeg" alt="Test image" style="width:100px;height:100px;"></td>
          <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a></td>
          <td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are You want to Delete {{this.name}}?')">Delete</a></td>
          

        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</section>